<ion-header>
  <ion-toolbar>
    <ion-title>
      Cadastro 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="cadastroForm">
    <ion-list>
      <ion-item>
        <ion-label position="floating">Nome</ion-label>
        <ion-input formControlName="nome" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Sobrenome</ion-label>
        <ion-input formControlName="sobrenome" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">CPF</ion-label>
        <ion-input formControlName="cpf" type="number"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">RG</ion-label>
        <ion-input formControlName="rg" type="number"></ion-input>
      </ion-item>
    </ion-list>

    <ion-button expand="block" (click)="submit()">Cadastrar</ion-button>
  </form>
</ion-content>

