
<ion-header>
  <ion-toolbar>
    <ion-title>cadastro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="frmCadastro" (submit)="cadastrar()">
    <ion-list>
      <ion-item>
        <ion-label>Default label</ion-label>
        <ion-input placeholder="Enter text"></ion-input>
      </ion-item>
    
      <ion-item>
        <ion-label position="fixed">Fixed label</ion-label>
        <ion-input placeholder="Enter text"></ion-input>
      </ion-item>
    
      <ion-item>
        <ion-label position="stacked">Stacked label</ion-label>
        <ion-input placeholder="Enter text"></ion-input>
      </ion-item>
    
      <ion-item>
        <ion-label position="floating">Floating label</ion-label>
        <ion-input placeholder="Enter text"></ion-input>
      </ion-item>
    </ion-list>
    <ion-button>Cadastrar</ion-button>
    <ion-button shape="round">Cadastrar</ion-button>
  </form>
</ion-content>


