<ion-header>
  <ion-toolbar>
    <ion-title>Gerar Protocolo de atendimento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Meus Atendimentos</ion-card-title>
    </ion-card-header>

    <ion-card-content>
     Segue abaixo todos atendimentos realizados, clique para expandir.
    </ion-card-content>
  </ion-card>
  <ion-accordion-group>
    <ion-accordion value="first">
      <ion-item slot="header" color="light">
        <ion-label>Atendimento em aberto</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Data</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
           16 de Fevereiro de 2022 às 9:15.
          </ion-card-content>
        </ion-card>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Tipo</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
           Perícia Médica.
          </ion-card-content>
        </ion-card>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Status</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
           Em andamento.
          </ion-card-content>
        </ion-card>
        <ion-button expand="block">Gerar Protocolo</ion-button>
      </div>
    </ion-accordion>
    <ion-accordion value="second">
      <ion-item slot="header" color="light">
        <ion-label>Atendimento em aberto</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Data</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
           10 de Janeiro de 2022 às 9:00.
          </ion-card-content>
        </ion-card>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Tipo</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
           Perícia Médica.
          </ion-card-content>
        </ion-card>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Status</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
           Em andamento.
          </ion-card-content>
        </ion-card>
        <ion-button expand="block">Gerar Protocolo</ion-button>
      </div>
    </ion-accordion>
    <ion-accordion value="third">
      <ion-item slot="header" color="light">
        <ion-label>Atendimento encerrado</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Data</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
           09 de Agosto de 2021 às 16:00.
          </ion-card-content>
        </ion-card>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Tipo</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
           Perícia Médica.
          </ion-card-content>
        </ion-card>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Status</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
           Atendimento encerrado.
          </ion-card-content>
        </ion-card>
        <ion-button expand="block">Gerar Protocolo</ion-button>
      </div>

    </ion-accordion>
  </ion-accordion-group>











</ion-content>
