<ion-header>
  <ion-toolbar>
    <ion-title>Laudos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-searchbar placeholder="Custom Placeholder"></ion-searchbar>
  <ion-accordion-group>
    <ion-accordion value="first">
      <ion-item slot="header" color="light">
        <ion-label>Laudo 07/01/2018</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-card color="secondary">
          <ion-card-header>
            <ion-card-title>Diagnostico do Laudo</ion-card-title>
            <ion-card-subtitle>Medico Jhonatam Martins</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            <ion-button fill="clear">Imprimir laudo</ion-button>
          </ion-card-content>
        </ion-card>
      </div>
    </ion-accordion>
    <ion-accordion value="second">
      <ion-item slot="header" color="light">
        <ion-label>Laudo 01/12/2021</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-card color="secondary">
          <ion-card-header>
            <ion-card-title>Diagnostico do Laudo</ion-card-title>
            <ion-card-subtitle>Medico Jhonatam Martins</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            <ion-button fill="clear">Imprimir laudo</ion-button>
          </ion-card-content>
        </ion-card>
      </div>
    </ion-accordion>
    <ion-accordion value="third">
      <ion-item slot="header" color="light">
        <ion-label>Laudo 16/03/2023</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-card color="secondary">
          <ion-card-header>
            <ion-card-title>Diagnostico do Laudo</ion-card-title>
            <ion-card-subtitle>Medico Jhonatam Martins
              <li>motivo da solicitação do exame:</li>
              <li>nome completo do paciente:</li>
              <li>clínica e médico solicitante do exame:</li>
              <li>outras informações pertinentes do paciente (idade, peso):</li>
              <li>técnica utilizada para o exame:</li>
              <li>descrição detalhada do exame:</li>
              <li>hipótese / impressão diagnóstica:</li>
            </ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            <ion-button fill="clear">Imprimir laudo</ion-button>
          </ion-card-content>
        </ion-card>
      </div>
    </ion-accordion>
  </ion-accordion-group>

</ion-content>