<ion-header>
  <ion-toolbar>
    <ion-title class="titulo">Prova de Vida</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-list>
      <ion-item>
        <ion-content>
          <ion-tab-button tab="solicitacao">
            <ion-button shape="round" [routerLink]="['/home/solicitacao']">Voltar</ion-button>
          </ion-tab-button>
        </ion-content>
      </ion-item>
    </ion-list>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Online</ion-card-title>
      </ion-card-header>
      <ion-card-content>
       <p>Opção de tirar uma selfie em tempo real.</p>
       <p>Necessario a validação</p>
      </ion-card-content>
      <ion-button (click)="baterFoto()">bater uma foto</ion-button>
      <img *ngIf="imagem" [src]="imagem">
    </ion-card>
    <ion-card>
        <ion-card-header>
          <ion-card-title>Presencial</ion-card-title>
        </ion-card-header>
        <ion-card-content>
         <p>Compareça na instituição financeira.</p>
         <p>Tenha em mãos um documento de identidade com foto atualizada.</p>
        </ion-card-content>
    </ion-card>
  </form>
</ion-content>
