<ion-header>
  <ion-toolbar>
    <ion-title>Prova de Vida</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-list>
      <ion-item>
        <ion-button shape="round" [routerLink]="['/login']"  >Prova de Vida</ion-button>
      </ion-item>
    </ion-list>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Online</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Presencial</ion-title>
  </form>
</ion-content>
