<ion-header>
  <ion-toolbar>
    <img src="assets/meuinss.png" alt="">
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="frmLogin" (submit)="logar()">
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input formControlName="email" placeholder="email@domain.com"></ion-input>
        <ion-icon name="mail" slot="start"></ion-icon>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Senha</ion-label>
        <ion-input type="password" formControlName="senha" placeholder="Insira uma senha válida"></ion-input>
        <ion-icon name="lock-closed" slot="start"></ion-icon>
      </ion-item>

    <ion-button [disabled]="frmLogin.invalid || frmLogin.pending" expand="full" type="submit">Entrar</ion-button>
  </form>
</ion-content>
