
<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Minhas Informações</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding" [routerLink]="['/home/atualizar']">
    Atualização Cadastral
  </ion-content>
  <ion-content class="ion-padding" [routerLink]="['/initial']">
    <ion-item>
      <ion-label>Sair</ion-label>
      <ion-icon name="log-out-outline" size="large" slot="start"></ion-icon>
    </ion-item>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button><ion-icon size="large" name="person-sharp"></ion-icon></ion-menu-button>
      </ion-buttons>
      <ion-title>Resumo</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-card>
      <ion-card-content>
        <ion-list>
          <ion-item [routerLink]="['/home/gerar-protocolo']">
            <ion-thumbnail slot="start">
              <img alt="Arquivo" src="../assets/PastaArquivo.png" />
            </ion-thumbnail>
            <ion-label>Meus Atendimentos</ion-label>
          </ion-item>
          <ion-item [routerLink]="['/home/laudos']">
            <ion-thumbnail slot="start">
              <img alt="Arquivo" src="../assets/laudo.png" />
            </ion-thumbnail>
            <ion-label>Meus Laudos</ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </ion-content>
</div>


