<ion-header>
  <ion-toolbar>
    <ion-title>Solicitações</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div style="display: grid;grid-template-columns: 1fr 1fr;">

    <ion-card color="primary" [routerLink]="['/home/prova-vida']">
      <ion-card-header>
        <ion-card-title>Prova de Vida</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-thumbnail slot="start">
          <ion-icon size="large" color="light" name="people-outline"></ion-icon>
        </ion-thumbnail>
      </ion-card-content>
    </ion-card>

    <ion-card color="warning" [routerLink]="['/home/agendar-pericia']">
      <ion-card-header>
        <ion-card-title>Perícia</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-thumbnail slot="start">
          <ion-icon size="large" color="dark" name="calendar-number-outline"></ion-icon>
        </ion-thumbnail>
      </ion-card-content>
    </ion-card>

    <ion-card color="success" [routerLink]="['/home/solicitarbeneficio']" >
      <ion-card-header>
        <ion-card-title>Benefício</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-thumbnail slot="start">
          <ion-icon size="large" name="medal-outline"></ion-icon>
        </ion-thumbnail>
      </ion-card-content>
    </ion-card>

    <ion-card color="danger" [routerLink]="['/home/revisar']">
      <ion-card-header>
        <ion-card-title>Revisão</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-thumbnail slot="start">
          <ion-icon size="large" name="telescope-sharp"></ion-icon>
        </ion-thumbnail>
      </ion-card-content>
    </ion-card>

</div>
</ion-content>
