<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Solicitações</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">This is the menu content.</ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Solicitações</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-tab-button tab="notificacao">
      <ion-icon name="notifications-outline"></ion-icon>
      <ion-label>Agendamento de Perícia</ion-label>
    </ion-tab-button>
  </ion-content>
  
  <ion-content>
    <ion-tab-button tab="prova-vida">
      <ion-button shape="round" [routerLink]="['/prova-vida']">Prova de Vida</ion-button>
      <ion-icon name="people-outline"></ion-icon>
    </ion-tab-button>
  </ion-content>
</div>