<ion-header>
  <ion-toolbar>
    <img src="assets/meuinss.png" alt="">
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides pager="true">
    <ion-slide>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Titulo1</ion-card-title>
          <ion-card-subtitle>Subtítulo1</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          Aqui um pequeno texto descritivo para ser exibido no carrosel
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Titulo2</ion-card-title>
          <ion-card-subtitle>Subtítulo2</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          Aqui um pequeno texto descritivo para ser exibido no carrosel
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Titulo3</ion-card-title>
          <ion-card-subtitle>Subtítulo3</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          Aqui um pequeno texto descritivo para ser exibido no carrosel
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>
  <ion-button expand="full" [routerLink]="['/login']" >Já possuo cadastro</ion-button>
  <ion-button expand="full" [routerLink]="['/cadastro']">Quero me cadastrar</ion-button>
</ion-content>
