<ion-header>
  <ion-toolbar>
    <ion-title class="title">Agendar Perícia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content">
  <h2 class="subtitulo">Selecione a Perícia</h2>
  <ion-item>
    <ion-checkbox slot="start"></ion-checkbox>
    <ion-label>Presencial</ion-label>
  </ion-item>
  <ion-item>
    <ion-checkbox slot="start"></ion-checkbox>
    <ion-label>Domiciliar</ion-label>
  </ion-item>
  <h3 class="subtitulo2">Selecione o dia</h3>
  <ion-datetime class="calendario"></ion-datetime>
<div class="botao"><ion-button shape="round" id="botao">Agendar</ion-button></div>
<img src="assets/meuinss.png" alt="">
</ion-content>
