
<ion-header>

  <ion-toolbar>
    <ion-title>Atualizar Cadastro</ion-title>
  </ion-toolbar>
</ion-header>
<ion-item>
  <ion-avatar slot="start">
    <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" (click)="cameraService.capturarFoto()" />
  </ion-avatar>
  <ion-label>
    Perfil
  </ion-label>
  <ion-header>
    <ion-toolbar>
      <ion-searchbar></ion-searchbar>
    </ion-toolbar>
  </ion-header>
</ion-item>
<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Number input</ion-label>
      <ion-input type="Trocar o número de telefone" placeholder="000-000-000"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Password input</ion-label>
      <ion-input type="Trocar a senha" value="********"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Email input</ion-label>
      <ion-input type="Atualizar Email" placeholder="projeto123@gmail.com"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Renda Anual</ion-label>
      <ion-input type="Renda" placeholder="26.400"></ion-input>
    </ion-item>

    <ion-button>Atualizar</ion-button>
    <ion-button>Limpar</ion-button>

  </ion-list>
</ion-content>
