


<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="resumo">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Resumo</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="solicitacao">
      <ion-icon name="enter-outline"></ion-icon>
      <ion-label>Solicitações</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="notificacao">
      <ion-icon name="notifications-outline"></ion-icon>
      <ion-label>Notificações</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
